.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card{
  max-width: 400px;
}
.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
